body {
  background: linear-gradient(to right, pink, rgba(8, 241, 245, 0.904));
}

#calculator {
  height: 585px;
  width: 350px;
  background-color: #a5b8e6;
  margin: auto;
  color: white;
  padding-top: 5%;
  border-radius: 15px;
}

h1 {
  display: inline;
}

#theme {
  display: inline;
  float: right;
}

.calculator-grid {
  display: grid;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  grid-template-columns: repeat(4, 100px);
  grid-template-rows: minmax(120px, auto) repeat(5, 100px);
  margin-top: 10%;
}

.output {
  background-color: #7b8cb9;
  border-radius: 15px;
  height: 95px;
  width: 94%;
  display: flex;
  align-items: flex-end;
  justify-content: space-around;
  flex-direction: column;
  padding: 10px;
  height: 95px;
  margin-top: 5%;
  word-wrap: break-word;
  word-break: break-all;
}

.output .previous-operand {
  color: rgba(255, 255, 255, 0.75);
  font-size: 20px;
}

.output .current-operand {
  color: white;
  font-size: 45px;
}

#button-container {
  background-color: #7b8cb9;
  width: 100%;
  height: 400px;
  margin-top: 5%;
  border-radius: 15px;
}

#buttons {
  padding: 10px 0px 10px 10px;
}

.buttonClass {
  width: 20%;
  height: 65px;
  margin: 5px;
  border-radius: 14px;
  font-size: 28px;
  text-align: center;
  border-color: #91a7e6;
}

.buttonClass2 {
  width: 44%;
  height: 65px;
  margin: 5px;
  border-radius: 14px;
  font-size: 28px;
  text-align: center;
  border-color: #91a7e6;
}
